[submodule "src/github.com/cloudfoundry-incubator/example-nozzle"]
	path = src/github.com/cloudfoundry-incubator/example-nozzle
	url = git@github.com:cloudfoundry-incubator/example-nozzle.git
[submodule "src/github.com/cloudfoundry-incubator/uaago"]
	path = src/github.com/cloudfoundry-incubator/uaago
	url = git@github.com:cloudfoundry-incubator/uaago.git
[submodule "src/github.com/cloudfoundry/noaa"]
	path = src/github.com/cloudfoundry/noaa
	url = git@github.com:cloudfoundry/noaa.git
[submodule "src/github.com/cloudfoundry/sonde-go"]
	path = src/github.com/cloudfoundry/sonde-go
	url = git@github.com:cloudfoundry/sonde-go.git
[submodule "src/github.com/gogo/protobuf"]
	path = src/github.com/gogo/protobuf
	url = git@github.com:gogo/protobuf.git
[submodule "src/github.com/gorilla/websocket"]
	path = src/github.com/gorilla/websocket
	url = git@github.com:gorilla/websocket.git
